body{
background-color: #131313;
}

#header{
padding-top:10px;
padding-left : 40px;
font-family: Candara;
background-color: #2B2B2B;
color: white;
position: fixed;
left: 0;
top: 0;
width: 100%;
}

#footer{
text-align: center;
padding-top:10px;
padding-bottom: 10px;
padding-left : 40px;
font-family: Candara;
background-color: #2B2B2B;
color: white;
position: fixed;
left: 0;
bottom: 0;
width: 100%;
}

#about{
margin: auto;
width: 54%;
padding-top: 50px;
padding-left : 40px;
font-family: Candara;
color: white;
text-align:justify;
}

img.info{
height: 350px;
width: 250px;
}

#but{
padding-left : 40px;
font-family: Candara;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
	padding-right : 40px;
}


a:link, a:visited {
  color: white;
text-align: center;
  padding: 0px 10px;
  text-align: center;
  text-decoration: none;
}

a:hover{
transition: 0.3s;
color: #00AEEF;
}

a:active {
font-weight:bold;
}
